.myNav{
  padding: 15px 0px;
  background-color: aliceblue;
}

.Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color:aliceblue;
  }
  
 .Nav ul li {
    float: left;
  }
  
  .Nav ul li a{
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
/*   
  li:hover {
    background-color: rgb(199, 225, 247);
  } */

  .nav-active{
    color:rgb(207, 94, 28) !important;
    border-bottom: 2px solid rgb(207, 94, 28);
  }

  .Nav ul li a:hover {
    color:rgb(207, 94, 28);
  }

  @media screen and (max-width:376px){
    .Nav ul li{
      padding: 0 6px;
      float: 0;
      /* font-size: 14px; */
    }
    .Nav ul li a{
      padding: 0;
      font-size: 12px;
    }
  }

  @media screen and (max-width:450px){
    .Nav ul li{
      padding: 0 6px;
      float: 0;
      /* font-size: 14px; */
    }
    .Nav ul li a{
      padding: 0;
      font-size: 15px;
    }
  }