.beach{
    padding: 20px 20px;
}

.beach__img img{
    width: 50%;
    height: 522px;
}

.care{
    position: absolute;
    bottom: 147px;
    left: 511px;
    width:500px;
    height: 250px;
    padding: 85px;
    text-align: center;
    background-color: #FC7E8A;
    opacity: 0.7;
}

.care p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}

.info{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 20px 0px;
    width: 100%;
    height: 200px;
    font-size: smaller;
    color: black;
    font-weight: 400;
}

.info p{
    margin-bottom: 5px !important;
} 

@media only screen and (max-width:376px){
    .beach{
        margin: 0px;
        padding: 0px;
    }
    .beach img{
        width: 100%;
        height: 275px;
    }
    .beach__img{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0px;
    }
    .care {
        left: 6px;
        /* width: 179px; */
        height: 25%;
        background-color: #FC7E8A;
        /* top: 679px; */
        padding: 10% 0;
        width: 41%;
        bottom: 36%;
    }
    .care p {
        color: whitesmoke;
        padding: 13px;
        font-size: 15px;
        font-weight: bold;
    }

    .care .btn-light a{
        color: #FC7E8A;
    }

    .info{
        flex-direction: column;
        height: auto;
        padding: 0 22%;
    }
}

@media only screen and (max-width:450px){
    .beach{
        margin: 0px;
        padding: 0px;
    }
    .beach img{
        width: 100%;
        height: 275px;
    }
    .beach__img{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px 0px;
    }
    .care {
        background-color: #FC7E8A;
        left: 75px;
        height: 25%;
        padding: 7% 0;
        width: 64%;
        bottom: 27%;
    }
    .care p {
        color: whitesmoke;
        padding: 13px;
        font-size: 15px;
        font-weight: bold;
    }

    .care .btn-light a{
        color: #FC7E8A;
    }

    .info{
        flex-direction: column;
        height: auto;
        padding: 0 22%;
    }
}