.parent{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: aliceblue;
}

.headingCar,.headingBike,.headingSnor,.headingScuba{
    font-family: 'Sacramento', cursive;
    font-size: 35px;
  }

.middle{
    top: 154%;
    color: whitesmoke;
    left: 57%;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    transform: translate(-27%, -51%);
    background-color: rgb(20, 68, 68);
    text-align: -webkit-center;
}

.middleTwo{
    color: whitesmoke;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    transform: translate(-96%, 10%);
    background-color: #343233;;
    text-align: -webkit-center;
}

.middleThree{
    color: whitesmoke;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    transform: translate(103%, -120%);
    background-color: #02599c;
    text-align: -webkit-center;
}

.middleFour{
    color: whitesmoke;
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    transform: translate(-115%, 18%);
    background-color:#029ab9;
    text-align: -webkit-center;
}

.carHire{
    font-size: 16px;
    padding: 56px;
    text-decoration: overline;
}

.bikeHire, .scuba, .snorkeling{
    font-size: 22px;
    padding: 56px;
    text-decoration: overline;
}

.one, .three{
    margin-top: 23px;
    width: 52%;
    height: 335px;
}

.two, .four{
    margin-top: 23px;
    display: flex;
    flex-direction: row-reverse; 
    width: 52%;
    height: 335px;
}
