*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  padding: 14px 0px;
  width: 100%;
  height: 80px;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  font-weight: bold;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
}

.footerText{
  width: 100%;
  height: 80px;
  font-weight: bold;
  text-align: center;
}

.footerText p{
  margin-bottom: 3px;
}

@media only screen and (max-width: 400px){
 .heading{ 
    font-size: 30px;

  }
}