*{
  margin: 0;
  padding: 0;
}

.headerText a {
  text-decoration: none;
    color: black;
}

.headerText a:hover {
  text-decoration: none;
    color: black;
}
.headerText{
  padding: 14px 0px;
  width: 100%;
  height: 80px;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  font-weight: bold;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
}

.footerText{
  width: 100%;
  height: 80px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.footerText p{
  margin-bottom: 3px;
}

@media only screen and (max-width: 376px){
 .heading{ 
    font-size: 30px;

  }
  .headerText{
    padding: 30px 0px;
  width: 100%;
  height: auto;
    font-size: 29px;
    font-weight: bold;
    background-color: aliceblue;
    text-align: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 450px){
  .heading{ 
     font-size: 30px;
 
   }
   .headerText{
     padding: 30px 0px;
   width: 100%;
   height: auto;
     font-size: 30px;
     font-weight: bold;
     background-color: aliceblue;
     text-align: center;
     cursor: pointer;
   }
 }